{%extends "django_registration/base.html"%}
{% load bootstrap3 %}
{% block content %}
  {{form.media}}
<div class="container">
  <div class="row">
    <!-- Empty div -->
    <div class="col-md-4"></div>
    <div class="col-md-4">
      {% if form.errors %}
        <p> Some Information Might be Incorrect </p>
      {% endif %}
      <div class="panel panel-default">

        <div class="panel-heading">
          <h3 class="text-center">Sign in Succesful</h3>
        </div>
        <div class="panel-body">
    <p> Login succesful, {{user.username}} </p>
      {% for p in profiles %}
      {%if p.username == user%}
  <p>Your Bio: </p>    {{p.bio}}
  <p> Your profile picture: </p>
    <img src="{{p.profilephoto.url}}"  class="img-responsive" style="display: block; margin-left: auto; margin-right: auto; width: 100%;" alt="">
      {%endif%}
    {% endfor%}
    {% for p in profiles %}
    {%if p.username == user%}

          {%if p.bio and p.profilephoto%}
          {%else%}
    <form  action="{%url 'user_profile'%}" method="post" enctype="multipart/form-data">
      {%csrf_token%}

      {% bootstrap_form form%}
      <input type="submit" class="btn btn-success btn-lg" value="Post">
    </form>
    {%endif%}
        {%endif%}
  {% endfor%}
        </div>

      </div>

    </div>
    <!-- empty div -->
    <div class="col-md-4"></div>
  </div>
  <div class="row" >
    <div class="panel panel-default">

      <div class="panel-heading">
        <h3 class="text-center">Your photos</h3>
      </div>
      <div class="panel-body">
          <div class="panel-body">
     {% for p in profiles %}
    {%if p.username == user%}
  {% for images_item in images %}
      {%if images_item == p%}
    <!-- displaying title -->
    <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5" style="padding: 10px; margin: 30px; border-bottom-style: double; height: 500px; ">
      <h2 class="text-center"> {{ images_item.title }}</h2>
      <hr>
    <!--Display  images  -->
    <div style="display: block; margin-left: auto; margin-right: auto; width: 100%; height: 50%;">
      <img src="{{images_item.i_images.url}}" class="img-responsive" style="display: block; margin-left: auto; margin-right: auto; width: 50%;" alt="Image">
    </div>
      <p> <a href="singleimage/{{images_item.id}}">View details about this image</a> </p>
      <p> <a href="singleimage/{{images_item.id}}">View user</a>  </p>
    </div>
    {%endif%}
            {% empty %}
            <div class="row">
              <div class="col-md-6">
              <h2 class="text-center">There are no images to view currently</h2>
              </div>
              <hr>
            </div>
      {% endfor %}
      {% endif %}
          {% endfor %}
  </div>
  </div>
</div>
</div>

{% endblock %}
